---
# extUrl is the URL for outline, e.g. outline.yourdomain.com | No need to add https or www
extUrl: "outline.yourdomain.com"

postgres:
  # postgres.createDb can be set to true if you need a new postgres database, you need one if you don't have one already
  createDb: true
  # postgres.hostname is the name of the PostgresQL host, default is postgresql
  hostname: "postgresql"
  # postgres.database is the name of the PostgresQL database
  database: "outline"
  # postgres.user is the username of the PostgresQL user
  user: "outline"
  # postgres.password is the password for Postgresql
  password: "change-me"
  # postgres.imageRepo is the location where to pull the desired postgresql image from
  imageRepo: "registry.redhat.io/rhel9/postgresql-15"
  # postgres.dbVersion is the desired PostgresQL Version, latest is only recommended for testing
  dbVersion: "latest"
  resources:
    # postgres.resources.cpu ist the maximum CPU usage of PostgresQL deployment, it can't exceed the given CPU usage
    cpu: "500m"
    # postgres.resources.memory is the maximum RAM memory usage of PostgresQL deployment, if it exceeds the value the pod will be OOM killed
    memory: "512Mi"
  pvc:
    # postgres.pvc.storage is the amount of GiB the persistent volume claim can use
    storage: "10Gi"
    # postgres.pvc.storageClassName is the name of the storageClass of the pvc
    storageClassName: "thin-csi"
    # postgres.pvc.accessModes is the access mode of the PVC
    accessModes: "ReadWriteOnce"

redis:
  # redis.createDb is the value to set to true if you want to deploy a redis instance for outline
  createDb: true
  # redis.hostname is the name of the redis host, default is redis
  hostname: "redis"
  # redis.image is the name of the redis image
  image: "redis"
  # redis.version is the desired version of redis, latest is only recommended for testing
  version: "latest"
  resources:
    # redis.resources.cpu ist the maximum CPU usage of PostgresQL deployment, it can't exceed the given CPU usage
    cpu: "500m"
    # memory is the maximum RAM memory usage of PostgresQL deployment, if it exceeds the value the pod will be OOM killed
    memory: "512Mi"
  pvc:
    # redis.pvc.storage is the amount of GiB the persistent volume claim can use
    storage: "10Gi"
    # redis.pvc.storageClassName is the name of the storageClass of the pvc
    storageClassName: "thin-csi"
    # redis.pvc.accessModes is the access mode of the PVC
    accessModes: "ReadWriteOnce"

cert:
  # cert.requestCertificate can be set to true, if you have cert-manager installed and want to create certificates
  requestCertificate: true
  # cert.kind describes the kind of cert-manager issuer you use, Issuer or ClusterIssuer
  kind: "ClusterIssuer"
  # cert.name is the name of the issuer
  name: ""
  # cert.secretName ist the name of the secret for the certificate, default is acme-cert-outline
  secretName: "acme-cert-outline"

ingress:
  # If ingress is true, route has to be false
  # ingress.createIngress has to be set to true, if you want to create an ingress
  createIngress: false
  # ingress.secretName is the name of the secret for the ingress, default is acme-cert-outline
  secretName: acme-cert-outline

# createRoute has to be set to true if you want to create a route
createRoute: true

outline:
  # outline.version is the desired outline version, latest is only recommended for testing
  version: "latest"
  # outline.imageRepo is the image repository to pull from
  imageRepo: "outlinewiki/outline"
  # outline.servicePort describes the port that will be used for outline
  servicePort: 3000
  # outline.secretKey is needed for outline, to generate a new safe one use openssl rand -hex 32
  secretKey: ""
    # outline.utilsSecret is needed for outline, to generate a new safe one use openssl rand -hex 32
  utilsSecret: ""
  resources:
    # outline.resources.cpu ist the maximum CPU usage of PostgresQL deployment, it can't exceed the given CPU usage
    cpu: "500m"
    # outline.resources.memory is the maximum RAM memory usage of PostgresQL deployment, if it exceeds the value the pod will be OOM killed
    memory: "512Mi"
  pvc:
    # outline.pvc.storage is the amount of GiB the persistent volume claim can use
    storage: "10Gi"
    # outline.pvc.storageClassName is the name of the storageClass of the pvc
    storageClassName: "thin-csi"
    # outline.pvc.accessModes is the access mode of the PVC
    accessModes: "ReadWriteOnce"
  # outline.pgsslMode determines whether or with what priority a secure SSL TCP/IP connection will be selected. See: https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNECT-SSLMODE
  pgsslMode: "disable"

# OIDC values from e.g. GitLab or Authentik
oidc:
  auth_uri: ""
  token_uri: ""
  userinfo_uri: ""
  username_claim: ""
  display_name: ""
  client_id: ""
  client_secret: ""
  # oidc.scopes depend on your OIDC provider. Git only needs "openid email" and authentik needs "openid profile email"
  scopes: ""

# extraManifests are additional optional manifests to deploy as an array
extraManifests: []
...