{{ if .Values.postgres.createDb }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql
stringData:
  POSTGRESQL_DATABASE: "{{ .Values.postgres.database }}"
  POSTGRESQL_PASSWORD: "{{ .Values.postgres.password }}"
  POSTGRESQL_USER: "{{ .Values.postgres.user }}"
{{ end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: outline
stringData:
  OIDC_CLIENT_ID: "{{ .Values.oidc.client_id }}"
  OIDC_CLIENT_SECRET: "{{ .Values.oidc.client_secret }}"
  SECRET_KEY: "{{ .Values.outline.secretKey }}"
  UTILS_SECRET: "{{ .Values.outline.utilsSecret }}"
  URL: "https://{{ .Values.extUrl }}"
  DATABASE_URL: "postgres://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@{{ .Values.postgres.hostname }}:5432/{{ .Values.postgres.database }}"
  REDIS_URL: "redis://{{ .Values.redis.hostname }}:6379"
...