name: Helm Publish

on:
  push:
    branches: [ 'master', 'main' ]
  workflow_dispatch:
  
jobs:
  helm:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Package Helm Charts
        shell: bash
        run: |
          find ${CHARTS_PATH} -type f -name 'Chart.yaml' | sed -r 's|/[^/]+$||' | sort | uniq | xargs --verbose -L 1 helm dep up
          for d in ${CHARTS_PATH}*/ ; do
              if [[ ! -f "${d}Chart.yaml" ]]; then
                  echo "${d}Chart.yaml not found. Skipping."
                  continue
              fi
              echo "$d"
              helm package "$d" -u -d dist
          done
        env:
          CHARTS_PATH: ${{ inputs.chartsPath }}

      - name: Login to GitHub Container Registry
        shell: bash
        run: echo "${GITHUB_TOKEN}" | helm registry login ${REGISTRY} --username ${GITHUB_ACTOR} --password-stdin
        env:
          REGISTRY: "ghcr.io
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Helm Charts to Github Container Registry (OCI)
        shell: bash
        working-directory: dist
        run: |
          for f in *.tgz ; do
              echo "$f"
              helm push $f oci://${REGISTRY,,}
          done
        env:
          REGISTRY: "ghcr.io/${{ github.repository }}"